<mat-card class="page-wrapper">

  <mat-card-content class="content-wrapper">
    <div style="display: flex; flex-direction: row;  flex-wrap: wrap;">
      <mat-card class="cat-card mat-elevation-z5" *ngFor="let category of allCategories" >
          <mat-card-title>{{category.id}}</mat-card-title>
          <mat-card-content style="color: white;">
            <div style="minHeight: 80px;">
              <h3 style="margin: 0px; font-weight: bold;">Description</h3>
              <p>{{category.description}}</p>
            </div>
            <div style="minHeight: 60px;">
              <h3 style="margin: 0px; font-weight: bold;">Price</h3>
              <p>{{category.price | price}}</p>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-icon-button (click)="openEditDialog(category)" >
              Edit
            </button>
          </mat-card-actions>
      </mat-card>
    </div>
  </mat-card-content>

</mat-card>

<div style="position: absolute; right: 25px; bottom: 25px;">
  <button (click)="openAddDialog()" mat-fab color="primary">
    <mat-icon>add</mat-icon>
  </button>
</div>

