mat-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  padding: 30px;
}

table {
  width: 100%;
}

.table-wrapper {
  overflow: auto;
  position: relative;
  height: 95%;
}
