.example-container {
  top: 64px !important;
 }
 
 @media(max-width: 599px) {
  .example-container {
     top: 56px !important;
   }
 }

.example-sidenav {
  width: 200px;
  padding: 0px;
}

mat-selection-list {
  padding: 0px;
}

.is-active {
  background-color: #eeeeee !important;
  color: rgb(66, 82, 175);
}

.menu-button {
  margin-right: 20px;
}

.mat-list-single-selected-option {
  background: none;
}