
<mat-toolbar color="primary">
  <span style="font-weight: lighter;">Dashboard</span>
</mat-toolbar>

<mat-drawer-container class="example-container" fullscreen>
  <mat-drawer class="example-sidenav" mode="side" opened>
    <mat-selection-list [multiple]="false">
      <mat-list-option value="test">Statistics</mat-list-option>
      <mat-list-option value="test">Statistics</mat-list-option>
      <mat-list-option value="test">Statistics</mat-list-option>
      <mat-list-option value="test">Statistics</mat-list-option>
      <mat-list-option value="test">Statistics</mat-list-option>
      <mat-list-option value="test">Statistics</mat-list-option>
    </mat-selection-list>
  </mat-drawer>
  <mat-drawer-content class="example-sidenav-content">Main content</mat-drawer-content>
</mat-drawer-container>





