<mat-toolbar color="primary">
  <span style="font-weight: lighter;">Dashboard</span>
</mat-toolbar>

<mat-drawer-container class="example-container" fullscreen>
  <mat-drawer class="example-sidenav" mode="side" opened>
    <mat-selection-list [multiple]="false">
      <mat-list-option routerLink="./statistic" value="test">Statistiken</mat-list-option>
      <mat-list-option routerLink="./cinemahall" value="test">Kinosaal</mat-list-option>
      <mat-list-option routerLink="./reservation" value="test">Reservierungen</mat-list-option>
      <mat-list-option routerLink="./genre" value="test">Genre</mat-list-option>
      <mat-list-option routerLink="./movie" value="test">Movie</mat-list-option>
      <mat-list-option routerLink="./schedule" value="test">Schedule</mat-list-option>
    </mat-selection-list>
  </mat-drawer>
  <mat-drawer-content class="example-sidenav-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>





