<div class="wrapper">

  <div class="input-wrapper">

    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="newCinemaHall.id">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Reihen</mat-label>
      <input matInput [(ngModel)]="newCinemaHall.size.x" >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Sitze</mat-label>
      <input matInput [(ngModel)]="newCinemaHall.size.y">
    </mat-form-field>

    <div class="control">
      <mat-slide-toggle
            color="primary"
            class="example-margin"
            (change)="onUseDefaultSizeChange()"
            [checked]="useDefaultSize">
          use default size
      </mat-slide-toggle>
    </div>

    <div class="control save-button">
      <button color="primary" mat-raised-button (click)="onSave()">Save</button>
    </div>

</div>
