<!-- select cinemahall -->
<div class="cinemahall-selector">
  <mat-form-field appearance="outline">
    <mat-select placeholder="CinemaHall" [(ngModel)]="selectedCinemaHallId" (selectionChange)="onCinemaHallChange()">
        <mat-option *ngFor="let cinemahall of cinemaHalls" [value]="cinemahall.id">
          {{cinemahall.id}}
        </mat-option>
    </mat-select>
  </mat-form-field>
  <button style="position: relative; top: 8px; left: 20px; color: gray;" mat-icon-button class="icon-button-hover">
    <mat-icon class="icons" (click)="updateView()">update</mat-icon>
  </button>
</div>

<div *ngIf="cinemaHallDetailed && seats">
  <app-cinemahall-edit *ngIf="seats" [seats]="seats" [size]="cinemaHallDetailed.size" (saveSeats)="onSave($event)"></app-cinemahall-edit>
</div>
<div *ngIf="!(cinemaHallDetailed && seats)">
  <app-no-content message="no cinema hall configured"></app-no-content>
</div>
