<h2 mat-dialog-title>Add genre</h2>

<mat-divider></mat-divider>

<mat-dialog-content>

  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="newGenre.id">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Bezeichnung</mat-label>
    <input matInput [(ngModel)]="newGenre.name" >
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCloseClick()">Cancel</button>
  <button color="primary" mat-raised-button (click)="onSaveClick()">Add</button>
</mat-dialog-actions>
