<h2 mat-dialog-title>Add genre</h2>

<mat-divider></mat-divider>

<mat-dialog-content>
  <form [formGroup]="genreAddForm">
    <mat-form-field appearance="outline">
      <mat-label>Id</mat-label>
      <input
        matInput
        required
        [(ngModel)]="newGenre.id"
        autocomplete="off"
        formControlName="genreId">
        <mat-error *ngIf="checkError('genreId', 'required')">Genre id is required</mat-error>
        <mat-error *ngIf="checkError('genreId', 'pattern')">Only number allowed</mat-error>
        <mat-error *ngIf="checkError('genreId', 'idExists')">genre id already exists</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input
        matInput
        required
        autocomplete="off"
        [(ngModel)]="newGenre.name"
        formControlName="genreName">
        <mat-error *ngIf="checkError('genreName', 'required')">Genre name is required</mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCloseClick()">Cancel</button>
  <button type="submit" color="primary" mat-raised-button (click)="onSaveClick()" [disabled]="!genreAddForm.valid">Add</button>
</mat-dialog-actions>
