<h2 mat-dialog-title>Edit schedule</h2>
<mat-divider></mat-divider>
<mat-dialog-content>


  <mat-form-field appearance="outline">
    <mat-label>Id</mat-label>
    <input matInput disabled [ngModel]="editSchedule.id" name="scheduleId">
  </mat-form-field>

  <form [formGroup]="scheduleAddForm">
    <div class="row">
      <mat-form-field appearance="outline" class="datetime">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="datepicker" formControlName="date" required>
        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
        <mat-datepicker #datepicker></mat-datepicker>
        <mat-error *ngIf="checkError('date', 'required')">date is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="datetime">
        <mat-label>Time</mat-label>
        <input matTimepicker #t1="matTimepicker"  okLabel="Ok"
            cancelLabel="Cancel"
          id="timepicker-example-1" mode="24h" placeholder="Please select time..."
          formControlName="time" required>
        <mat-icon matSuffix (click)="t1.showDialog()">access_time</mat-icon>
        <mat-error *ngIf="checkError('time', 'required')">time is required</mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Movie</mat-label>
        <input type="text"
                matInput
                required
                formControlName="movie"
                [(ngModel)]="movieTitle"
                [matAutocomplete]="auto">
        <mat-error *ngIf="checkError('movie', 'required')">movie is required</mat-error>
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option.title">
            {{ option.title }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-select placeholder="Cinemahall" formControlName="cinemahall">
            <mat-option *ngFor="let cinemahall of cinemaHalls" [value]="cinemahall.id">
              {{cinemahall.id}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="checkError('cinemahall', 'required')">Genre id is required</mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<div mat-dialog-actions align="end">
  <button mat-button (click)="onCloseClick()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSaveClick()" [disabled]="!scheduleAddForm.valid">Save</button>
</div>
