<h2 mat-dialog-title>Edit genre</h2>

<mat-divider></mat-divider>

<mat-dialog-content>

  <mat-form-field appearance="outline">
    <mat-label>Id</mat-label>
    <input matInput [ngModel]="genre.id"  disabled name="genreId">
  </mat-form-field>

  <form [formGroup]="genreEditForm">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="genre.name" formControlName="genreName" required>
      <mat-error *ngIf="checkError('genreName', 'required')">Genre name is required</mat-error>
    </mat-form-field>
  </form>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCloseClick()">Cancel</button>
  <button color="primary" mat-raised-button (click)="onSaveClick()" [disabled]="!genreEditForm.valid">Save</button>
</mat-dialog-actions>
