<h2 mat-dialog-title>Add schedule</h2>
<mat-divider></mat-divider>
<mat-dialog-content>
    <form>

      <div class="row">
        <mat-form-field appearance="outline" class="datetime">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate placeholder="Start date" [(ngModel)]="selectedStartDate" name="startdate">
            <input matEndDate placeholder="End date" [(ngModel)]="selectedEndDate" name="enddate">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="datetime">
          <mat-label >24 TIMEPICKER</mat-label>
          <input matTimepicker #t1="matTimepicker"  okLabel="Ok"
             cancelLabel="Cancel" #time1="ngModel" [(ngModel)]="selectedTime"
            id="timepicker-example-1" mode="24h" placeholder="Please select time..."
            name="time-1" required>
          <mat-icon matSuffix (click)="t1.showDialog()">access_time</mat-icon>
          <mat-error *ngIf="time1.touched && time1.invalid">Invalid Date</mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Movie</mat-label>
          <input type="text"
                  matInput
                  [(ngModel)]="movieTitle"
                  [formControl]="myControl"
                  [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option.title">
              {{option.title}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field appearance="outline">
          <mat-select placeholder="Cinemahall" [(ngModel)]="cinemaHallId" name="something">
              <mat-option *ngFor="let cinemahall of cinemaHalls" [value]="cinemahall.id">
                {{cinemahall.id}}
              </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      </form>
</mat-dialog-content>

<div mat-dialog-actions align="end">
  <button mat-button (click)="onCloseClick()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSaveClick()">Save</button>
</div>
