mat-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  padding: 30px;
}

.dashboard-card-content {
  text-align: center;
  margin-top: 20px;
}

.dashboard-card-header {
  text-align: center;
}

.table-wrapper {
  overflow: auto;
  position: relative;
  height: 95%;
}

table {
  margin: 20px;
  width: 50%;
}
