<mat-toolbar color="primary">
  <button mat-icon-button color="white" (click)="toggleMenu()" class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>
  <span style="font-weight: lighter;">Dashboard</span>
</mat-toolbar>

<mat-drawer-container class="example-container" fullscreen>

  <mat-drawer class="example-sidenav" [mode]="mode" [opened]=open>
    <mat-selection-list [multiple]="false">
      <mat-list-option
        *ngFor="let navigationItem of navigationLinks"
        [routerLink]="navigationItem.link"
        [routerLinkActive]="['is-active']">
        {{ navigationItem.name }}
      </mat-list-option>
    </mat-selection-list>
  </mat-drawer>

  <mat-drawer-content class="example-sidenav-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>

</mat-drawer-container>





