mat-form-field {
  margin: 0px 10px;
  padding-bottom: 0px;
}

.row-multiple-items {
  width: 100%;
}

.row-single-item {
  margin: 10px;
}
.row-single-item mat-form-field{
  width: 100%;
  margin: 0px;
}

.row-multiple-items .file-upload {
  width: calc(50% - 20px);
  margin: 10px;
}

.row-multiple-items .two-item-row {
  width: calc(50% - 20px);
  margin: 10px;
}

.example-chip-list {
  width: 100%;
}

.file-upload-form-field {
  display: flex;
  flex-direction: row;
}


/* images */

.image-wrapper {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}

mat-card {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  border-radius: 6px;
  transition: transform .3s ease;
  margin-right: 10px;
}

mat-card img {
  padding: 0px;
  border-radius: 6px;
}
