<h1>Movie Overview</h1>
<button mat-raised-button routerLink="/details">Details</button>

<div>

  <app-movie-overview-large-card-slider [movies]="movies"></app-movie-overview-large-card-slider>
  <app-movie-overview-small-card-slider [movies]="movies"></app-movie-overview-small-card-slider>
  <app-movie-overview-small-card-slider [movies]="movies"></app-movie-overview-small-card-slider>
  <app-movie-overview-small-card-slider [movies]="movies"></app-movie-overview-small-card-slider>
  <app-movie-overview-small-card-slider [movies]="movies"></app-movie-overview-small-card-slider>

</div>