<mat-toolbar color="primary">
  <span style="font-weight: lighter;">Aktuelle Kinofilme</span>
</mat-toolbar>
<div class="wrapper">
  <div>
    <app-movie-overview-large-card-slider [movies]="movies"></app-movie-overview-large-card-slider>
    <app-movie-overview-filter></app-movie-overview-filter>
    <app-movie-overview-small-card-slider [movies]="movies"></app-movie-overview-small-card-slider>
    <app-movie-overview-small-card-slider [movies]="movies"></app-movie-overview-small-card-slider>
    <app-movie-overview-small-card-slider [movies]="movies"></app-movie-overview-small-card-slider>
    <app-movie-overview-small-card-slider [movies]="movies"></app-movie-overview-small-card-slider>
  </div>
</div>