/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-tooltip {
  font-size: 18px;
}

.snackbar-message-error {
  background-color:#F1C6C6;
  color:#CD3838;
  padding: 20px;
}

.snackbar-message-success {
  background-color:#D4F4DA;
  color:#37CC50;
  padding: 20px;
}
