mat-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  padding: 30px;
}

.table-wrapper {
  overflow: auto;
  position: relative;
  height: 95%;
}

table {
  width: 100%;
}

.icons {
  color: gray;
  font-size: 18px;
}

.icon-button-hover:hover {
  background-color: rgb(240,240,240);
}

