<mat-grid-list cols="{{cards.columns}}" rowHeight="440px">

  <mat-grid-tile colspan="{{cards.item1}}" rowspan="1">
    <mat-card class="card1">
      <mat-card-header class="dashboard-card-header">
        <mat-card-title class="dashboard-card-header">Weekday</mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <app-admin-chart *ngIf="weekday_values" [barChartData]="[{ data: weekday_values }]" [barChartLabels]="weekday_labels"></app-admin-chart>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile colspan="{{cards.item2}}" rowspan="1">
    <mat-card class="card1">
      <mat-card-header class="dashboard-card-header">
        <mat-card-title class="dashboard-card-header">Genre</mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <app-admin-chart *ngIf="genre_values" [barChartData]="[{ data: genre_values }]" [barChartLabels]="genre_labels"></app-admin-chart>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile colspan="{{cards.item3}}" rowspan="1">
    <mat-card class="card1">
      <mat-card-header class="dashboard-card-header">
        <mat-card-title class="dashboard-card-header">Month</mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <app-admin-chart *ngIf="month_values" [barChartData]="[{ data: month_values }]" [barChartLabels]="month_labels"></app-admin-chart>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile colspan="{{cards.item4}}" rowspan="1">
    <mat-card class="card1">
      <mat-card-header class="dashboard-card-header">
        <mat-card-title class="dashboard-card-header">Year</mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <app-admin-chart *ngIf="year_values" [barChartData]="[{ data: year_values }]" [barChartLabels]="year_labels"></app-admin-chart>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>
