.canvas {
  background-color: lightgray;
  height: 10px;
  margin: auto;
  margin-top: 50px;
  border-radius: 4px;
  width: 600px;
}

.cinemahall-wrapper {
  max-width: auto;
  justify-content: center;
  padding: 30px;
}

.row-wrapper {
  display: flex;
  margin: auto;
  padding: 0px 0px 5px 0px;
  justify-content: center;
  height: 30px;
  margin-bottom: 10px;
  max-width: 700px;
}

.seat-button {
  padding: 0px;
  min-width: 20px;
  min-height: 10px;
}

mat-icon {
  vertical-align: middle;
  height: 0px;
  padding-bottom: 18px !important;
}
