<mat-toolbar role="heading" class="mat-elevation-z5 main-toolbar" color="primary">
      <mat-toolbar-row>
            <span>Apollo</span>
            <button routerLink="/overview" class="overview-button" mat-button>Overview</button>
            <span class="spacer"></span>
            <div *ngIf="name != null">
                  <button mat-button [matMenuTriggerFor]="menu" >
                        <mat-icon aria-hidden="false" style="margin-right: 10px;">person</mat-icon>
                        {{name}}
                  </button>
                  <mat-menu #menu="matMenu" xPosition="after">
                        <button mat-menu-item routerLink='/admin'>Dashboard</button>
                        <button mat-menu-item (click)="logout()">Logout</button>
                  </mat-menu>
            </div>
            <div *ngIf="name == null">
                  <button (click)="login()" mat-button >Login</button>
            </div>
      </mat-toolbar-row>
</mat-toolbar>

